<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.system.mapper.UserMapper">
    <!--select查询语句-->
    <select id="getUserList" resultType="com.company.system.domain.User">
        select *
        from mooc.user
    </select>


    <select id="getUserById" resultType="com.company.system.domain.User" parameterType="int">
        select *
        from mooc.user
        where id = #{id}
    </select>
</mapper>